# VARIABLES, EXPRESSIONS AND STATEMENTS

#### ASSIGNMENT STATEMENTS

In [1]:
message = 'And this is your message'
message

'And this is your message'

In [2]:
n = 17

In [3]:
pi = 3.142

#### ILLEGAL NAME ASSIGNMENTS

In [4]:
## Illegal name assignments
## 75ttt = "book" ## starts with a number
## more@ = 14 ## has a symbol in it 
## class = 15 ## one of python's keywords

#### EXPRESSIONS

In [5]:
n + 25

42

In [6]:
print(n)

17

In [7]:
print('I am', n)

I am 17

#### MATHEMATICAL OPERATIONS

In [8]:
## Addition
x = 3 + 9
x

12

In [9]:
## Substraction
x = 9 - 3
x

6

In [10]:
## Multiplication
x = 9 * 3
x

27

In [11]:
## Division
x = 9/3
x

3.0

In [13]:
## Exponentiation
x = 9**3
x

729

In [16]:
## OTHER CALCULATIONS
(1+1)**(5-2)

8

#### STRING OPERATIONS

In [17]:
first = 'Lebron'
last = 'James'
first+last

'LebronJames'

In [19]:
first*3

'LebronLebronLebron'

#### ASSIGNMENT

In [21]:
r = 5
pi = 3.142
v = (4/3)*pi*(r**3)
v

523.6666666666666

In [23]:
book = 24.95
n = 60
Total = n*(1-0.4)*book + 3 + (n-1)*0.75
Total

945.4499999999999

In [26]:
n1 = 8
t1 = 15
n2 = 7
t2 = 12
s1 = n1*60 + t1
s2 = 3*(n2*60 + t2)
s3 = n1*60 + t1
s4 = s1 + s2 + s3

In [27]:
m = s4/60

In [31]:
nt = 6
tt = 15
print('The time of return is:',nt,':',(tt + m),'am')

The time of return is: 6 : 53.1 am