# LISTS

### A LIST IS A SEQUENCE

In [1]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
cheeses

['Cheddar', 'Edam', 'Gouda']

In [2]:
numbers = [42, 123] 
numbers

[42, 123]

In [3]:
empty = []
empty

[]

### LISTS ARE MUTABLE

In [4]:
cheeses[0]

'Cheddar'

In [5]:
cheeses[0] = 'Riley'

In [6]:
cheeses

['Riley', 'Edam', 'Gouda']

In [7]:
'Riley' in cheeses ## checking for elements in lists

True

In [8]:
'Brian' in cheeses

False

### TRAVERSING A LIST

In [9]:
for cheese in cheeses:
    print(cheese)

Riley
Edam
Gouda

In [10]:
for i in range(len(numbers)): 
    numbers[i] = numbers[i] * 2
numbers

[84, 246]

In [11]:
n = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]  ## nested lists

In [12]:
n[3][1]

2

### LIST OPERATIONS

In [13]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [14]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### LIST SLICES

In [15]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [16]:
t[1:3]

['b', 'c']

In [17]:
t[:4]

['a', 'b', 'c', 'd']

In [18]:
t[3:]

['d', 'e', 'f']

In [19]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
t[1:3] = ['x', 'y']

In [21]:
t

['a', 'x', 'y', 'd', 'e', 'f']

### LIST METHODS

In [22]:
t = ['a','b','c']
t.append('d')  ## adding a new element to a list
t

['a', 'b', 'c', 'd']

In [23]:
t1 = ['a', 'b', 'c']  
t2 = ['d', 'e'] 
t1.extend(t2) ## extending a list with a new list
t1

['a', 'b', 'c', 'd', 'e']

In [24]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort() ## for sorting the list
t

['a', 'b', 'c', 'd', 'e']

### MAP, FILTER AND REDUCE

In [25]:
t = [2,3,4,5]
def add_all(t): 
    total = 0 
    for x in t: 
        total += x 
    return total 
add_all(t)

14

In [26]:
t = [1,2,3] ## REDUCING: This happens when the list is reduced to a single value
sum(t)

6

In [27]:
m = ['a','b','c','d','e'] ## MAPPING: This happens when the lists' values get transformed by a function
def capitalize_all(t): 
    res = [] 
    for s in t: 
        res.append(s.capitalize()) 
    return res 
capitalize_all(m)

['A', 'B', 'C', 'D', 'E']

In [28]:
m = ['A','B','c','D','e'] ## FILTERING: This happens when a portion of the list is selected
def only_upper(t):  
    res = [] 
    for s in t: 
        if s.isupper(): 
            res.append(s)
    return res
only_upper(m)

['A', 'B', 'D']

### DELETING ELEMENTS

In [29]:
t = ['a', 'b', 'c'] 
x = t.pop(1) ## deleting an element
t

['a', 'c']

In [30]:
x
type(x)

str

In [31]:
t = ['a', 'b', 'c']
del t[1] ## removing an element that is not needed
t

['a', 'c']

In [32]:
t = ['a', 'b', 'c']
t.remove('b') ## removing an element directly
t

['a', 'c']

In [33]:
t = ['a', 'b', 'c', 'd', 'e', 'f'] 
del t[1:5] ## removing a slice of the list
t

['a', 'f']

### LISTS AND STRINGS

In [34]:
s = 'spam' 
t = list(s) ## converting a string to a list
t

['s', 'p', 'a', 'm']

In [35]:
s = 'pining for the fjords'
t = s.split() ## breaking into a string of words
t

['pining', 'for', 'the', 'fjords']

In [36]:
s = 'spam-spam-spam'
delimiter = '-' 
t = s.split(delimiter) ## splitting with a delimiter
t

['spam', 'spam', 'spam']

In [37]:
t = ['pining', 'for', 'the', 'fjords'] 
delimiter = ' ' 
s = delimiter.join(t) ## converting the the list to a string
s

'pining for the fjords'

### OBJECTS AND VALUES

In [38]:
a = 'banana' 
b = 'banana' 
a is b ## for checking if two variables are the same

True

In [39]:
a = [1, 2, 3] 
b = [1, 2, 3] 
a is b ## This will be false because the two lists are identical but not equivalent. They have the same values but not the same objects

False

### ALIASING

In [40]:
a = [1, 2, 3] 
b = a 
b is a ## This reports as true because they are reporting to the same object

True

In [41]:
b[0] = 42

In [42]:
a ## if an element in b is changed it also affects a due to aliasing

[42, 2, 3]

### LIST ARGUMENTS

In [43]:
def delete_head(t): 
    del t[0]
delete_head(a)
a

[2, 3]

In [44]:
def tail(t): 
    return t[1:] 
tail(t)

['for', 'the', 'fjords']

### ASSIGNMENTS

#### 1

In [45]:
t = [[1, 2], [3], [4, 5, 6]] 
def nested_sum(t):
    total = 0 
    for i in range(len(t)):
        if type(t[i]) == list:
            total += sum(t[i])
        else:
            total += t[i]
    return total 
nested_sum(t)

21

#### 2

In [46]:
t = [1, 2, 3, 4] 
def cum_sum(t):
    for i in range(len(t)):
        if i > 0:
            t[i] += sum(t[:i])
        else:
            t[i] = t[i]
    return t
cum_sum(t)

[1, 3, 7, 15]

#### 3

In [47]:
def middle(t):
    length = len(t)
    n = t[1:length-1]
    return n
middle(t)

[3, 7]

#### 4

In [48]:
def chop(t):
    del t[0]
    del t[-1]
chop(t)

#### 5

In [49]:
r = ['b','a']
def is_sorted(t):
    for i in range(len(t)):
        if (t[i+1] > t[i]):
            return True
        else:
            return False
is_sorted(r)

False

#### 6

In [50]:
def is_anagram(a,b):
    if sorted(a) == sorted(b):
        return True
    else:
        return False
is_anagram('devil','lenid')

False

#### 7

In [51]:
def has_duplicates(t):
    i = 0
    while i < len(t):
        if t.count(t[i]) > 1:
            return True
        elif i == (len(t) - 1):
            return False
        i += 1
has_duplicates(list('ban'))

False

#### 8

In [52]:
import numpy as np
def guess(n,t):
    a=[0]*n
    b=0
    for j in range(t):
        for i in range (n):
            a[i] = np.random.randint(1,365) 
        if has_duplicates(a):
            b=b+1
            if b > 2:
                return True
            else: 
                return False
guess(23,1000)

False

#### 9

In [53]:
def remove_duplicate(a):
    b=[]
    for i in range(len(a)):
        if a[i] in b:
            b = b
        else: 
            b.append(a[i])
    return b
remove_duplicate(list('banana'))

['b', 'a', 'n']