# TUPLES

### TUPLES ARE IMMUTABLE

In [1]:
t = 'a', 'b', 'c', 'd', 'e'

In [2]:
t = ('a', 'b', 'c', 'd', 'e')

In [3]:
t1 = 'a', 
type(t1)

tuple

In [4]:
t2 = ('a')
type(t2)

str

In [5]:
t = tuple() ## creating an empty tuple

In [6]:
t = tuple('lupins')

In [7]:
t

('l', 'u', 'p', 'i', 'n', 's')

In [8]:
t = ('a', 'b', 'c', 'd', 'e')
t[0]

'a'

In [9]:
t[1:3]

('b', 'c')

In [10]:
## t[0] = 'A' ## lists are immutable

In [11]:
t = ('A',) + t[1:]
t

('A', 'b', 'c', 'd', 'e')

In [12]:
(0, 1, 2) < (0, 3, 4)

True

In [13]:
(0, 1, 2000000) < (0, 3, 4) ## It starts off with the first values. If they are equal, it moves on to the next ones.

True

### TUPLE ASSIGNMENT

In [14]:
a = 22
b = 21
temp = a
a = b
b = temp 
a, b = b, a ## number of variables on the left must equal number of variables on the right

In [15]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [16]:
uname

'monty'

In [17]:
domain

'python.org'

### TUPLES AS RETURN VALUES

In [18]:
t = divmod(7, 3) ## used to obtain the quotient and the remainder

In [19]:
t

(2, 1)

In [20]:
quot, rem = divmod(7, 3)

In [21]:
quot

2

In [22]:
rem

1

In [23]:
def min_max(t): 
    return min(t), max(t)

In [24]:
min_max(t)

(1, 2)

### VARIABLE-LENGTH ARGUMENT TUPLE

In [25]:
def printall(*args): 
    print(args)

In [26]:
printall(1, 2.0, '3')

(1, 2.0, '3')

In [27]:
t = (7, 3) 
divmod(*t) ## * is used to scatter a tuple into more arguments

(2, 1)

In [28]:
max(1, 2, 3)

3

In [36]:
def sumall(*args): 
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [37]:
sumall(1,2,3)

6

### LISTS AND TUPLES

In [38]:
s = 'abc'
t = [0, 1, 2] 
zip(s, t)

In [39]:
for pair in zip(s, t): 
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [40]:
list(zip(s, t))

[('a', 0), ('b', 1), ('c', 2)]

In [41]:
list(zip('Anne', 'Elk')) ## it stops iterating at the length of the shorter one

[('A', 'E'), ('n', 'l'), ('n', 'k')]

In [42]:
t = [('a', 0), ('b', 1), ('c', 2)] 
for letter, number in t: 
    print(number, letter)

0 a
1 b
2 c

In [43]:
def has_match(t1, t2): 
    for x, y in zip(t1, t2): 
        if x == y: 
            return True
    return False

In [44]:
has_match('Francis','Trevecca')

True

In [45]:
for index, element in enumerate('abc'): 
    print(index, element)

0 a
1 b
2 c

### DICTIONARIES AND TUPLES

In [46]:
d = {'a':0, 'b':1, 'c':2}

In [47]:
t = d.items()

In [48]:
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [49]:
for key, value in d.items():
    print(key, value)

a 0
b 1
c 2

In [51]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t) 
d

{'a': 0, 'c': 2, 'b': 1}

In [53]:
d = dict(zip('abc', range(3)))

In [54]:
d

{'a': 0, 'b': 1, 'c': 2}

### ASSIGNMENTS

In [80]:
def most_frequent(t):
    d = dict()
    c = 0
    for c in t:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    result = []
    for key in d:
        result.append((d[key], key))
    result.sort(reverse=True)
    for count, letter in result:
        print(letter, count)
most_frequent('banana')

a 3
n 2
b 1